:root {
  --primary-color: #6E2FF4;
  --main-background-color:#F0F0F0;
  --main-card-color:#FFFFFF;
  --main-text-black:#000000;
  --sub-text-gray:#49454F;
  --point-color-pink: #FE446F;
  --point-color-yello:#FFCE0A;
  --point-color-mint:#90F0EE;
  --active-button-purple: #6E2FF4;
  --inactive-button: #E8E8FC;
  --inactive-text-gray:#CCCCCC;
  --inactive-icon:#afafaf;
  --back-button:#4F4F4F;
  --error-color: #ff4d4f;
  --check-color: #6E2FF4;
  --bull-color: #ff5252;
  --bear-color: #0a7df3;
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url("@/assets/fonts/Pretendard-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Pretendard-Medium";
  src: url("@/assets/fonts/Pretendard-Medium.ttf") format("truetype");
}
