name: CI/CD Pipeline

# 트리거: main 브랜치에 push될 때 작동
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # 1. 코드 체크아웃
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install dependencies
      run: |
            npm install

    - name: Lint
      run: |
            npm run lint
            
    # 2. Docker 로그인
    - name: Log in to Docker Hub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    # 3. Docker 이미지 빌드
    - name: Build Docker image
      run: docker build . -t ${{ secrets.DOCKER_USERNAME }}/frontend:latest

    # 4. Docker 이미지 푸시
    - name: Push Docker image
      run: docker push ${{ secrets.DOCKER_USERNAME }}/frontend:latest
